.settings-modal {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:absolute;
    background: white;
    width: 50%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .study-page{
    display: flex;
    justify-content: center;
  }

  .study-page .pomodoro-timer {
    display: block;
  }

  .study-page .todo {
    display: block;
  }

  .todo-form{
    display: inline;
  }

  .completed {
    text-decoration: line-through;
}
