
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f6f4eb;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.home-page {
  text-align: center;
  padding: 5px 50px;
}


.home-page p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.home-page-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.photo-container {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.photo {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}

.photo img {
  width: 120%;
  height: 120%;
  object-fit: contain; /* Add this to maintain the original aspect ratio */
  transition: transform 0.6s;
  position: absolute; /* Add this to position the image inside .photo */
  top: 0;
  left: 0;
}

.study {
  max-width: 60%;
}

.flipped {
  transform: rotateY(180deg);
}

.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  width: 190vh;
  background-color: #91c8e4;
  border-radius: 10px;
  padding: 10px;
}

.outermost-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #749bc2;
  border-radius: 10px;
  padding: 100px;
  margin-bottom: 50px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3 {
  padding-bottom: 20px;
}

a, .open {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

.inner-box-study,
.inner-box-chest {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.study-text,
.chest-text {
  text-align: center;
}


.pokeball__button {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;
}

/* pokeball */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ecf0f1;
}

/* Poké Styles */
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: red;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  animation: fall .25s ease-in-out,
             shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
}
.pokeball::before,
.pokeball::after {
  content:"";
  position: absolute;
}
.pokeball::before {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the horizontal line */
  background: #000;
  content: ''; /* Add this line to ensure the pseudo-element appears */
}

.pokeball::before::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the horizontal line */
  background: #000;
}


.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink .5s alternate 7;
}
/* Animation */
@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}
@keyframes shake {
  0 { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-10px, 0) rotate(-20deg); }
  30% { transform: translate(10px, 0) rotate(20deg); }
  50% { transform: translate(-10px, 0) rotate(-10deg); }
  60% { transform: translate(10px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
@keyframes fall {
  0% { top: -200px }
  60% { top: 0 }
  80% { top: -20px }
  100% { top: 0 }
}