form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff !important;
    color: #000;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  