.Navbar .Nav.Link.active {
    text-decoration: underline;
  }


/* LOGIN AND REGISTER */

.forms {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

.auth-form-container, .auth-form-login, .auth-form-register{
   display: flex;
   flex-direction: column;
}

.auth-form-container {
  padding: 4rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5 rem;
  background-image: linear-gradient(79deg, #7439db, #c66fcb 48%, #f7944d);
  width: 100%;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  color: white;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: #7439db
}

input:focus {
  outline: #f7944d;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
   background: none;
   color: white;
   text-decoration: underline;
}

.form-title {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav li {
  cursor: pointer;
}

/* signup page */

/* Signup.css */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
